body {
  background-color: #b5ffc6;
  margin: 5px;
  font-size: 70%;
  font-family: 'Roboto Mono', monospace;
  @import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&family=Roboto+Mono&display=swap');
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #753037;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #b5ffc6;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 35px 0 0 35px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

p {
  font-style: bolder;
  margin: 30px;
  padding: 10px;
  line-height: 110%;
  word-spacing: 5px;
  letter-spacing: 2px;
  font-size: 1.4em;
  display:  block;
  word-break: normal;
}

#format {
  width: 18vw;
  float: right;
  height: auto;
  margin: 10px;
  border: solid 3px #753037;
  display:  block;
}

div.style {
  background-color: #3c7549;
  color: white;
  border: dashed 8px #cf999e;
  border-radius: 20px;
  padding: 5px 5px 135px 5px;
  margin: 20px;
  height: auto;
}

h2 {
  font-size: 2em;
  font style: bolder;
  color: #b5ffc6;
  font-style: oblique;
  margin: 30px;
  display:  block;
    word-break: normal;
}

div>h1 {
  border: groove 15px white;
  background-color: #cf999e;
  color: #753037;
  padding: 7px;
  font-size: 2.5em;
  text-align: center;
  margin: 20px;
  border-radius: 25px;
}
