body {
  background-color: #ffe8d9;
  font-size: 80%;
  font-family: 'Roboto Mono', monospace;
  @import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&family=Roboto+Mono&display=swap');
}

div#style {
  border: dashed 10px white;
  border-radius: 20px;
  margin: 50px;
  padding: 5px 15px 60px 30px;
  color: #f58cb9;
  background-color: #a87054;
}

p {
  font-size: 140%;
  margin: 40px;
  font-weight: bold;
  line-height: 115%;
  word-spacing: 5px;
  letter-spacing: 2px;
}

#border {
  background-color: #f5eda4;
  height: auto;
  margin: 40px;
  border-radius: 10px;
  border: dashed 5px #ffd1cc;
}

div#box {
  background-color: white;
  color: #70361b;
  border: dashed 10px #f58cb9;
  margin: 40px;
  padding: 5px 25px 10px 30px;
}

h1,h2,h3,h4,h5 {
  border: groove 15px white;
  background-color: #f58cb9;
  padding: 7px;
  font-size: 50px;
  text-align: center;
  margin: 40px;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 36px;
  font style: bolder;
  color: #f5eda4;
  font-style: oblique;
  font-family: 'Quattrocento', serif, monospace, sans-serif;
  word-spacing: 5px;
  letter-spacing: 3px;
}

a.buttonlink {
  color: #f58cb9;
  font-size: 15px;
  font-weight: bolder;
  background-color: #f5eda4;
  border-radius: 7px;
  padding: 8px;
  margin: 150px 0px 60px 5px;
  border: outset 5px  white;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.row {
  display: flex;
}

div.column {
  flex: 50%;
  padding: 5px;
}

#design {
  text-align: center;
  font-size: 30px;
  font-style: bold;
  border-radius: 10px;
  padding: 8px;
  font-family: 'Roboto Mono', monospace;
  color: #8f5784;
}
