body {
  font-family: 'Roboto Mono', monospace;
  @import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&family=Roboto+Mono&display=swap');
  font-size: 30px;
  background-color: #f1f3ff;
  padding: 50px;
  font-size: 100%;
}

div#style {
  padding: 50px;
  font-size: 25px;
  background-color: #989cb3;
  border: ridge 10px #a8b3a1;
	color: #e9ffd9;
	border-radius: 20px;
  height: auto;
}

h1,h2,h3,h4,h5 {
  font-size: 40px;
  text-transform: uppercase;
  font-size: 36px;
  font style: bolder;
  color: orange;
  font-style: oblique;
  margin-left: 40px;
  font-family: 'Quattrocento', serif, monospace, sans-serif;
}

div>h1,h5 {
  border: double 15px white;
  background-color: #a8b3a1;
  padding: 7px;
  color: #ffe3d9;
  font-size: 50px;
  text-align: center;
  border-radius: 20px;
  margin: 30px 40px 30px 40px;
}

div>figcaption {
	text-decoration: underline;
  font-style: italic;
  text-align: center;
  font-size: 30px;
  margin: 1px 0 20px 0;
  font-style: bold;
  border-radius: 10px;
  padding: 8px;
  color: #f1f3ff;
}

.row {
  display: flex;
}

div.column {
  flex: 33.33%;
  padding: 5px;
}

.zoom:hover{
  transform: scale(1.1);
}

img#plant {
  float: right;
  padding: 8px;
  background-color: #e9ffd9;
  border-radius: 30px;
  height: auto;
  width: 22%;
  margin: 40px;
}

img {
	width: 100%;
	height: auto;
}

div.box {
  padding: 50px;
  background-color: #989cb3;
  border: dashed 8px #e9ffd9;
  border-radius: 50px;
  height: auto;
  width:auto;
}

.border {
  background-color: #9c8cab;
  width: 65%;
  height: auto;
  margin: 40px;
  border-radius: 10px;
  border: dashed 5px #eee4f7;
}

p {
  font-size: 100%;
  margin: 40px;
  font-weight: bold;
  line-height: 115%;
  word-spacing: 5px;
  letter-spacing: 2px;
}

a {
  color: #cbf7db;
  font-size: 15px;
  font-weight: bolder;
  background-color: #9c8cab;
  border-radius: 7px;
  padding: 8px;
  margin: 40px;
  border: outset 5px  #f7e6cb;
  text-decoration: none;
}

a:hover {
    text-decoration: underline #f1f3ff;
    color: #e9ffd9;
}
