body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: #ffffe6;
    padding: 50px;
    font-size: 90%;
}

div#content {
  padding: 50px;
  background-color: mintcream;
  border: solid 5px #7e4720;
  height: auto;
	color: #7e4720;
  margin:30px;
}

h1,h2,h3 {
  font-family: "Courier New", monospace;
}

img#cat {
  float: right;
  width: 400px;
  height: auto;
	border: solid 5px #7e4720;
  margin: 30px;
}

figcaption#center {
	text-decoration: none;
	color: #7e4720;
	font-weight: 900;
}

img#screenshot {
	width: 800px;
	height: auto;
	border: inset 5px #7e4720;
	border-radius: 10px;

a {
  text-decoration: none;
  color:#7e4720;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
