body {
  width: 100%;
  margin: 0;
  background-color: #f2f2f2;
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Poppins&display=swap');
}

p {
  font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Playfair Display', serif;
}

h1 {
  padding: 5vh 0vw 5vh 0vw;
  font-size: 10vw;
  text-align: center;
  color: #8d3f3f;
}

h3 {
  font-size: 2vw;
}

h2 {
  font-size: 3vw;
  color: #404040;
}

#center-box p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vw;
  color: black;
}

@media (max-width: 600px) {
  #center-box {
    flex-direction: column;
  }
}

hr {
  border-top: 2px solid #8d3f3f;
}

a {
  color: #404040;
}

#center-box {
  padding: 15px;
  margin: 2vh 10vw 2vh 10vw;
}
