body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  background-color: #f2f2f2;
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Poppins&display=swap');
}

p {
  font-family: 'Poppins', sans-serif;
  margin: 2vh 2vw 2vh 2vw;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Playfair Display', serif;
}

h1 {
  padding: 5vh 0vw 5vh 0vw;
  font-size: 6vw;
  text-align: center;
  color: #8d3f3f;
}

h3 {
  font-size: 2vw;
}

h2 {
  font-size: 3vw;
  color: #404040;
  margin: 2vh 2vw 2vh 2vw;
}

#center-box p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vw;
  color: black;
}

@media (max-width: 600px) {
  #center-box {
    flex-direction: column;
  }
}

hr {
  border-top: 2px solid #8d3f3f;
}

a {
  color: #404040;
}

#center-box {
  padding: 15px;
  margin: 2vh 10vw 2vh 10vw;
}


/*Slideshow*/
#image-slideshow {
  overflow-x: hidden
  width: 100vw;
}

#image-slideshow figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s image-slideshow infinite;
}

#image-slideshow figure img {
  float: left;
  width: 20%;
}

@keyframes image-slideshow {
  0% {
      left: 0;
  }
  20% {
      left: 0;
  }
  25% {
      left: -100%;
  }
  45% {
      left: -100%;
  }
  50% {
      left: -200%;
  }
  70% {
      left: -200%;
  }
  75% {
      left: -300%;
  }
  95% {
      left: -300%;
  }
  100% {
      left: -400%;
  }
}


/*Content Boxes*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content-grid {
  margin: 2vh 2vw 2vh 2vw;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 200px));
  justify-content: center;
  column-gap: 20px;
  border: 1px dashed red;
}

.content-image-container {
  width: 100%;
  height: 100%;
  border: 1px solid blue;
}

.content-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figcaption {
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .image-wrapper {
    grid-template-columns: 1fr;
    justify-content: center;
    row-gap: 50px;
    padding: 20px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  #content-image-container {
    flex-direction: column;
    width: 100%;
  }
}

/*Experimating*/
.flex-grid {
  display: flex;
  justify-content: center;
}

.image-box-grid {
  width: 300px;
  height: 300px;
}


/*Side For Writing and Artices*/

* {
  box-sizing: border-box;
}

.left-side-content {
  float: left;
  width: 75%;
  padding: 10px;
  height: auto;
  background-color: mintcream;
}

.articles-column {
  float: left;
  width: 25%;
  padding: 10px;
  height: auto;
  background-color: pink;
}

.article-img-padding {
  position:absolute;
  height:90%; /* = 100% - 2*5% padding */
  width:90%; /* = 100% - 2*5% padding */
  padding: 5%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 600px) {
  .left-side-content, .articles-column {
    width: 100%;
}
