ul.topnav {
  width: 100vw;
  list-style-type: none;
  margin: 0;
  padding: 2vh 10vw 2vh 10vw;
  margin-bottom: -3vh;
  overflow: hidden;
  background-color: #404040;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1rem;
}

ul.topnav li a:hover:not(.active) {
  background-color: #8d3f3f;
}

ul.topnav li a.active {
  color: #f2dbbc;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}
