footer {
  background-color: #404040;
  width: 100%;
  color: white;
  padding: 2vh 10vw 2vh 10vw;
}

#left {
  text-align: left;
}

footer a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #f2dbbc;
  text-align: center;
}

a:hover {
  color: #8d3f3f;
}

.color-change {
  border: #8d3f3f 2px solid;
}
