.img-container img {
  max-width: 100%;
  height: auto;
}

.img-container iframe {
  max-width: 100%;
  height: auto;
  padding: 2vh 2vw 2vh 2vw;
}

.img-container {
  width: 100%;
  height: auto;
}

#format {
  padding: 2vh 2vw 2vh 2vw;
}

#reduce img {
  width: 50%;
  height: 50%;
}

* {
  box-sizing: border-box;
}

.side-by-side-container {
  display: flex;
  flex-direction: row;
}

.image1 {
  flex: 50%;
  padding: 10px;
}

.image2 {
  flex: 50%;
  padding: 10px;
}

@media (max-width: 600px) {
  .side-by-side-container {
    flex-direction: column;
  }
}

#imgbox {
  display: inline-block;
}

#imgbox img{
  height: auto;
  max-width: 25%;
}
