body, #container {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: -50;
  font-family: 'Montserrat', sans-serif;
  background-color: #354abb;
  background-image: linear-gradient(#354abb , #ffcdd2);
  color: black;
}

#arrows {
  width: 100%;
  top: 17vh;
  height: auto;
  position: absolute;
  z-index: 10;
  margin: 0;
  padding: 0;
}

#arrows img {
  width: 6.5%;
  height: 6.5%;
}

#arrows .left {
  text-align: left;
  margin-left: -2.4vw;
  left: 0;
}

#arrows .right {
  float: right;
  margin-right: -2.4vw;
}

#top {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
}

#top img {
  width: auto;
  height: 1.8rem;
}

#box {
  position: absolute;
  text-align: center;
  width: 100vw;
  max-height: 35vh;
  margin: 0;
  padding: 0;
  top: -13vh;
  left: -17vw;
  margin-top: 0vh;
}

#left {
  left: 0vw;
  margin: 0;
  padding: 0;
  z-index: 7;
  font-size: 15vw;
  font-weight: bold;
  color: #FFCDD2;
}

#right {
  position: absolute;
  font-size: 7vw;
  font-weight: bold;
  color: #FFCDD2;
  line-height: 90%;
  letter-spacing: -5px;
  right: 8vw;
  margin: 0;
  padding: 0;
  z-index: 8;
  top: 22vh;
}

#middle {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  margin-bottom: 40vh;
}

#middle p {
  font-family: 'Heebo', sans-serif;
  font-size: 1.7vw;
  font-weight: 400;
  line-height: 120%;
  word-spacing: 0.1vw;
}

#button {
  position: absolute;
  text-align: center;
  bottom: 0;
  margin-left: 40vw;
  margin-right: auto;
  margin-bottom: 35vh;
  width: 21vw;
  border: solid black 2px;
  border-radius: 27px;
  padding-left: -1.5vw;
  padding-right: -1.5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  z-index: 6;
}

a.bold {
  font-weight: bold;
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
  font-size: 1.5vw;
}

#bottom {
  position: absolute;
  text-align: center;
  bottom: 3vh;
  width: 100%;
  padding: 0.2vh;
  z-index: 5;
}

#bottom p {
  font-size: 1vw;
  line-height: 120%;
  color: black;
}

span {
  color: white;
}

#bottom-arrow {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: -0.6vh;
  z-index: 6;
}

#bottom-arrow img {
  width: 4.2%;
  height: 4.2%;
}

#triangle {
  position: absolute;
  text-align: right;
  bottom: -2vh;
  right: 0;
  width: 100%;
  margin-right: 0;
  margin-bottom: 0;
  z-index: -99;
}

#triangle img {
  height: 77vh;
  width: 100%;
}
