body {
  background-color: #b57860;
  font-size: 80%;
  font-family: 'Roboto Mono', monospace;
  @import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&family=Roboto+Mono&display=swap');
}

div#style {
  border: dashed 10px #eee4f7;
  border-radius: 20px;
  margin: 50px;
  padding: 5px 15px 60px 30px;
  color: #53c271;
  background-color: #36241c;
}

#paragraph {
  font-size: 140%;
  margin: 40px;
  font-weight: bold;
  line-height: 115%;
  word-spacing: 5px;
  letter-spacing: 2px;
  color: #f5a282;
}

#border {
  background-color: #754e3e;
  width: 95%;
  height: auto;
  margin: 40px;
  border-radius: 10px;
  border: dashed 5px #eee4f7;
}

div#box {
  background-color: #36241c;
  color: #70361b;
  border: dashed 10px #eee4f7;
  margin: 40px;
  padding: 5px 25px 10px 30px;
}

#header {
  border: groove 15px white;
  background-color: #db9174;
  padding: 7px;
  font-size: 50px;
  text-align: center;
  margin: 40px;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 36px;
  font style: bolder;
  color: #36241c;
  font-style: oblique;
  font-family: 'Quattrocento', serif, monospace, sans-serif;
  word-spacing: 5px;
  letter-spacing: 3px;
}

a.buttonlink {
  color: #cbf7db;
  font-size: 15px;
  font-weight: bolder;
  background-color: #754e3e;
  border-radius: 7px;
  padding: 8px;
  margin: 150px 0px 60px 5px;
  border: outset 5px  #f7e6cb;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.row {
  display: flex;
}

div.column {
  flex: 50%;
  padding: 5px;
}

#design {
  text-align: center;
  font-size: 30px;
  font-style: bold;
  border-radius: 10px;
  padding: 8px;
  color: #cbf7db;
}
